* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --colorPrincipal: rgb(71, 179, 252);
}

/*Menu principal de navegacion*/

header nav {
  border-color: white;
  box-shadow: 0 0 15px 0 rgb(212, 209, 209);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: aliceblue;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
}

.menu-container li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: 0.3s ease all;
  margin: 0;
}

.menu-container li a:hover {
  color: var(--colorPrincipal);
}

/*Fin Menu principal de navegacion*/

/*Descripcion*/

h1 {
  font-size: 80px;
}

h1, h2 {
  color: var(--colorPrincipal);
  text-shadow: 8px 4px 6px rgb(187, 214, 236);
}

#hola {
  display: flex;

  min-height: 100vh;
  padding: 200px 200px;
}

#hola .div-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#hola .img-descripcion {
  width: 50%;
  display: flex;
  justify-content: center;
}

#hola .img-descripcion img {
  min-width: 250px;
  max-width: 500px;
  min-height: 250px;
}

.div-descripcion .text-hola {
  font-size: 40px;
}

.div-descripcion .subtitulo {
  font-size: 20px;
  color: grey;
  margin-bottom: 15px;
}

/*Fin Descripcion*/

ul.menu-container li a {
  text-decoration: none;
  color: gray;
}

header nav ul li .button-1 a {
  color: black;
}

div.div-descripcion .button-2 a {
  text-decoration: none;
  color: black;
}

/*Configuracion botones*/

.button-1,
.button-2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 40px;
  border: none;
  background-color: var(--colorPrincipal);
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: 0.3s ease all;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.button-1:hover {
  background-color: lightgray;
  width: 200px;
}

.button-2:hover {
  background-color: lightgray;
  width: 200px;
}

/*Fin Configuracion botones*/

/*conocimientos*/

h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

.intro-habilidades p {
  font-size: 20px;
  color: gray;
  width: 100%;
}

#habilidades {
  background-color: aliceblue;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#habilidades .intro-habilidades {
  min-height: 150px;
  padding: 70px;
  margin-bottom: 50px;
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.descrip-habilidades {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 50px;
}

.descrip-habilidades div {
  display: flex;
}

.descrip-habilidades figure {
  min-height: 250px;
  min-width: 250px;
  padding: 20px;
  border-radius: 5%;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  background-color: white;
}

.descrip-habilidades figure:hover {
  border: 2px solid var(--colorPrincipal);
}

.descrip-habilidades figure img {
  min-width: 80px;
  max-width: 90px;
  margin-bottom: 30px;
}

.descrip-habilidades figure p {
  font-size: 30px;
}

/*fin conocimientos*/

/*cita*/

.cita {
  background-color: var(--colorPrincipal);
  color: aliceblue;
  min-height: 350px;
  text-align: center;
  padding: 50px 20px 100px 20px;
}

.cita h3 {
  font-size: 100px;
}

.cita p {
  font-size: 20px;
  margin-bottom: 50px;
}

.cita .autor {
  font-size: 30px;
  margin-top: 50px;
}

/*cita*/

/*Mis proyectos*/

#proyects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.intro-proyects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 70px;
}

.intro-proyects h2 {
  font-size: 50px;
  margin-top: 50px;
  font-weight: bold;
}

.intro-proyects p {
  text-align: center;
  padding-top: 10px;
  color: gray;
  font-size: 20px;
}

.list-proyects {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 1100px;
  justify-content: space-evenly;
  padding: 10px;
}

.list-proyects figure,
.list-proyects a {
  border-radius: 5%;
  border: 1px solid lightgrey;
  margin: 15px;
  padding: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-proyects figure img,
.list-proyects a img {
  width: 250px;
  height: 250px;
}

.list-proyects a:hover {
  border: 2px solid var(--colorPrincipal);
}

#proyects div.list-proyects a {
  text-decoration: none;
  color: black;
}

/*fin Mis proyectos*/

/*contacto*/

#contact {
  background-color: aliceblue;
  min-height: 100vh;
  padding: 100px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contactame,
.form-escribime {
  width: 500px;
  height: 600px;
  padding: 100px;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
}

.contactame:hover {
  border: 2px solid var(--colorPrincipal);
}

.form-escribime:hover {
  border: 2px solid var(--colorPrincipal);
}

.contactame h2,
.form-escribime h2 {
  margin-bottom: 30px;
  font-weight: bold;
  
}

.contactame p {
  margin-bottom: 40px;
}

.contactame ul li {
  list-style: none;
  color: black;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.contactame ul li:hover {
  color: var(--colorPrincipal);
}

.contactame ul li a {
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.contactame ul li a:hover {
  color: var(--colorPrincipal);
  
}

.form-escribime input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 100%;
  
}

div.form-escribime form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 70px;
  max-height: 70px;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid lightgray;
}

.form-escribime label {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  
}

.item-datos:hover {
  border: 1px solid var(--colorPrincipal);
  
}

input.item-boton {
  font-size: 120%;
  color: white;
  background-color: var(--colorPrincipal);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  width: 70%;
}

.item-boton:hover {
  background-color: lightgray;
}

/*fin contacto*/

/*footer*/

footer {
  background-color: var(--colorPrincipal);
  color: white;
  text-align: center;
  min-height: 300px;
  padding: 50px;
}

.listfooter-container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  justify-content: space-around;

  list-style: none;
  margin: auto;
  margin-bottom: 30px;
}

footer nav ul li a,
.rrss-container a {
  text-decoration: none;
  color: white;
}

.item-rrss {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rrss-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;

  max-width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

.item-rrss:hover {
  background-color: white;
  color: rgb(71, 179, 252);
  cursor: pointer;
}

/*fin footer*/

/*responsive desing*/

@media screen and (max-width: 1365px) {
  header {
    display: none;
  }

  #hola {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }

  #hola div {
    max-width: 40%;
    margin: 30px 0;
  }

  
}

@media screen and (max-width: 1210px) {
  #contact {
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 50px;
  }

  .contactame,
  .form-escribime {
    border: 0;
    width: 100%;
    height: 50%;
    padding: 20px;
  }
}

@media screen and (max-width: 880px) {
  .contactame,
  .form-escribime {
    margin-bottom: 20px;
    border: none;
  }

  .form-escribime:hover {
    border: 0;
  }

  .contactame:hover {
    border: 0;
  }
  .descrip-habilidades {
    flex-direction: column;
  }

  .descrip-habilidades div {
    flex-direction: column;
  }

  footer .listfooter-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  footer nav ul li a {
    font-size: 15px;
  }

  footer nav ul li {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 490px) {
  h2,
  .intro-proyects h2 {
    font-size: 35px;
  }
}

/*fin responsive desing*/