* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

main {
  width: 1000px;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 100px;

  height: 1000px;
  border: 2px solid grey;
}

/*primer columna*/

.presentacion {
  width: 30%;
  height: 100%;
  margin: auto;
  padding: 35px;

  background-color: rgb(252, 235, 214);
}

.presentacion img {
  border: 1px solid whitesmoke;
  margin-bottom: 50px;
}

.presentacion h2 {
  margin-bottom: 30px;
}

.presentacion p {
  margin-bottom: 10px;
}

/*fin primera columna*/

/*segunda columna*/

.principal-container {
  padding: 35px;
  width: 70%;
  height: 100%;

  background-color: azure;
}

.personal-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 70px;
  height: 200px;
}

.personal-data h1 {
  font-size: 40px;
}

.info-contacto ul li {
  list-style: none;
  margin-bottom: 5px;
}

.experience,
.education,
.otros-datos {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.experience h3,
.education h3,
.otros-datos h3 {
  font-size: 25px;
}

.experience ul li {
  margin-bottom: 10px;
}

.principal-container .education {
  height: 200px;
}

.principal-container .otros-datos {
  height: 150px;
}
